<header class="w-full border-b border-slate-800">

  <div class="flex items-center justify-between w-full h-20 px-4 mx-auto lg:px-6 max-w-7xl">
    <a routerLink="/" class="text-4xl font-extrabold">
      ArticleUI
    </a>

    <ul *ifAuthenticated="false" class="flex items-center gap-6">
      <a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <li class="px-4 py-2 text-lg font-semibold border rounded-lg hover:text-slate-200">
          Register
        </li>
      </a>
      <a routerLink="/login" routerLinkActive="active">
        <li class="px-4 py-2 text-lg font-semibold border rounded-lg hover:text-slate-200">
          Login
        </li>
      </a>
    </ul>


    <ul *ifAuthenticated="true" class="flex items-center gap-6">
      <li class="text-lg font-semibold hover:text-slate-200">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="text-lg font-semibold hover:text-slate-200">
        <a routerLink="/editor" routerLinkActive="active"><i class="ion-compose"></i>&nbsp;New
          Article</a>
      </li>
      <li class="text-lg font-semibold hover:text-slate-200">
        <a routerLink="/settings" routerLinkActive="active"><i class="ion-gear-a"></i>&nbsp;Settings</a>
      </li>

      @if(currentUser$ | async; as currentUser) {
      <li class="text-lg font-semibold hover:text-slate-200">
        <a [routerLink]="['/profile', currentUser.username]" class="flex items-center gap-4">
          <img [src]="currentUser.image" class="w-10 h-10 rounded-full" />
          <span class="sr-only">
            {{ currentUser.username }}
          </span>
        </a>
      </li>
      }
    </ul>
  </div>

</header>
