<main class="max-w-4xl px-4 mx-auto lg:px-6">
  <div class="divide-y divide-white/5">
    <div class="grid grid-cols-1 py-16 gap-x-8 gap-y-10 md:grid-cols-3">
      <div>
        <h2 class="text-base font-semibold leading-7 text-white">Personal Information</h2>
        <p class="mt-1 text-sm leading-6 text-gray-400">Use a permanent address where you can receive mail.</p>
      </div>

      <form class="md:col-span-2">
        <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
          <div class="flex items-center col-span-full gap-x-8">
            <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                 alt="" class="flex-none object-cover w-24 h-24 bg-gray-800 rounded-lg">
            <div>
              <button type="button"
                      class="px-3 py-2 text-sm font-semibold text-white rounded-md shadow-sm bg-white/10 hover:bg-white/20">Change
                avatar</button>
              <p class="mt-2 text-xs leading-5 text-gray-400">JPG, GIF or PNG. 1MB max.</p>
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="first-name" class="block text-sm font-medium leading-6 text-white">First name</label>
            <div class="mt-2">
              <input type="text" name="first-name" id="first-name" autocomplete="given-name"
                     class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6">
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="last-name" class="block text-sm font-medium leading-6 text-white">Last name</label>
            <div class="mt-2">
              <input type="text" name="last-name" id="last-name" autocomplete="family-name"
                     class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6">
            </div>
          </div>

          <div class="col-span-full">
            <label for="email" class="block text-sm font-medium leading-6 text-white">Email address</label>
            <div class="mt-2">
              <input id="email" name="email" type="email" autocomplete="email"
                     class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6">
            </div>
          </div>

          <div class="col-span-full">
            <label for="username" class="block text-sm font-medium leading-6 text-white">Username</label>
            <div class="mt-2">
              <div
                   class="flex rounded-md bg-white/5 ring-1 ring-inset ring-white/10 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
                <span class="flex items-center pl-3 text-gray-400 select-none sm:text-sm">example.com/</span>
                <input type="text" name="username" id="username" autocomplete="username"
                       class="flex-1 border-0 bg-transparent py-1.5 pl-1 text-white focus:ring-0 sm:text-sm sm:leading-6"
                       placeholder="janesmith">
              </div>
            </div>
          </div>

          <div class="col-span-full">
            <label for="timezone" class="block text-sm font-medium leading-6 text-white">Timezone</label>
            <div class="mt-2">
              <select id="timezone" name="timezone"
                      class="block w-full rounded-md border-0 bg-white/5 py-1.5 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 [&_*]:text-black">
                <option>Pacific Standard Time</option>
                <option>Eastern Standard Time</option>
                <option>Greenwich Mean Time</option>
              </select>
            </div>
          </div>
        </div>

        <div class="flex mt-8">
          <button type="submit"
                  class="px-3 py-2 text-sm font-semibold text-white bg-indigo-500 rounded-md shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save</button>
        </div>
      </form>
    </div>


    <div class="grid w-full grid-cols-1 py-16 gap-x-8 gap-y-10 md:grid-cols-3">
      <div>
        <h2 class="text-base font-semibold leading-7 text-white">Delete account</h2>
        <p class="mt-1 text-sm leading-6 text-gray-400">No longer want to use our service? You can delete your account
          here. This action is not reversible. All information related to this account will be deleted permanently.</p>
      </div>

      <form class="flex items-start md:col-span-2">
        <button [disabled]="true" type="submit"
                class="px-3 py-2 text-sm font-semibold text-white bg-red-500 rounded-md shadow-sm hover:bg-red-400">Yes,
          delete my account</button>
      </form>
    </div>

    <div class="w-full py-10">

      <form class="flex items-center justify-end md:col-span-2">
        <button type="submit"
                class="rounded-md border-2 border-red-500 text-lg px-3 w-full md:w-[50%] py-4  font-semibold text-red-500 shadow-sm">
          Cerrar Sesión</button>
      </form>
    </div>
  </div>
</main>